{% extends 'base.html.twig' %}

{% block title %}Mon espace personnel{% endblock %}

{% block body %}
<div>
    <h1>Bonjour {{ user.firstname }} !</h1>

    <ul>
        {% for animal in animals %}
            <li>
                <h2>{{ animal.name }}</h2>
                <a class="button" href="#">Carnet de {{ animal.name }}</a>
                <a class="button" href="#">Visites de {{ animal.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <a class="button bg_white" href="#">Ajouter animal</a>
    <a class="button bg_white" href="#">Se déconnecter</a>
</div>
{% endblock %}
