{% extends 'base.html.twig' %}

{% block title %}New Vax{% endblock %}

{% block body %}
    <h1>Create new Vax</h1>

    {{ include('vax/_form.html.twig') }}

    <a href="{{ path('app_vax_index') }}">back to list</a>
{% endblock %}
