{% extends 'base.html.twig' %}

{% block title %}Modifier le carnet de santé{% endblock %}

{% block body %}
    <div>
        <h1>Modifier le carnet de santé de {{ animal.name }}</h1>

        {{ include('health_booklet/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
