{% extends 'base.html.twig' %}

{% block title %}Carnet de santé{% endblock %}

{% block body %}

    <div>
        <h2>Carnet de santé de {{ animal_info.name }}</h2>
        <ul>
            {% for key, value in animal_info %}
                {% if value is not same as (animal_info.name) %}
                    <li class="field">{{ key }} : {{ value }}
                        {% if value is empty %}Non défini{% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <a class="button" href={{ link_to_edit }}>Modifier les informations du carnet</a>
    </div>

{% endblock %}
