<header class="header">
    <nav class="header__nav">
        <!-- Add your navigation links here -->
        <ul class="header__links">
            <li><a href="/"><img class="header__logo" src="{{ asset('images/logo_patpatoune_desktop.png') }}" alt="Logo Pat Patoune"></a></li>
            <li><a href="/login"><img class="header__account" img src="{{ asset('images/account.png') }}" alt="Logo Pat Patoune"></a></li>
        </ul>
    </nav>
</header>