:root {
    --color-primary: #27565C;
    --color-primary-faded: #5D8085;
    --color-secondary: #F36951;
    --color-secondary-faded: #F68E7C;
    --color-secondary-reinforced: #ED4F3D;
    --color-background: #fff;
    --title-font: 'Rubik-Bold', sans-serif;
    --body-font: 'Catamaran-Medium', sans-serif;
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url('./fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Catamaran-Medium';
    src: url('./fonts/Catamaran-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: var(--color-primary);
    font-family: var(--body-font);
}
/* RESET */

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    height: 78px;
    border-bottom: 8px solid var(--color-secondary); 
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav {
    width: 100%;
}

.header__links {
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
     height: 37px;
}

header a {
    color: var(--color-primary);
}

/****** NICOW : J'ai fait des modifs de ici ******/
.container {
    margin: 0.5em auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    flex: 1;
    padding: 20px;
}

#homepage > * {
    width: 50%;
    margin: 36px auto;
}

#homepage .button {
    width: 50%;
    margin: 24px auto 0 auto;
}

button, .button {
    display: block;
    text-decoration: none;
    color: var(--color-background);
    background-color: var(--color-secondary);
    padding: 12px;
    margin: 12px 12px 12px 0;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button.bg_white, .button.bg_white {
    background-color: white;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.field{
    background-color: white;
    color: var(--color-primary);
    padding: 12px;
    border-radius: 8px;
    border: 1px solid var(--color-primary);
    width: 100%;
}

.field.full {
    margin: 12px 0;
}

.form {
    width: 60%;
    margin: 0 auto;
}

#health_booklet_form > * {
    display: flex;
    flex-flow: column;
    padding: 12px;
}

.breadcrumb_custom {
    margin: 24px;
    align-self: flex-start;
}
/****** NICOW : Jusqu'à de ici ******/

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;  
    text-align: center;
}

nav li {
    margin: 0 10px;
}

nav li p {
    font-size: 10px;
}

nav a {
    text-decoration: none;
    font-size: 16px;
}

footer {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
}

.footer__image {
    width: 245px;
    margin: auto;
}

.footer__container {
    width: 100%;
    background-color: var(--color-secondary);
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__container p {
    font-family: var(--title-font);
    color: var(--color-background);
    font-size: 12px;
}

.login-wrapper {
    width: 100%;
    text-align: center;
}

.login__p__highlight, .login__label, .register__p__highlight {
    font-family: var(--title-font);
}
.login__input {
   width: 100% !important;
}

.register-wrapper {
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: var(--color-primary);
    font-size: 28px;
    font-family: var(--title-font);
}

h2 {
    color: var(--color-primary);
    font-size: 24px;
    font-family: var(--title-font);
}

h3 {
    color: var(--color-primary);
    font-size: 20px;
    font-family: var(--title-font);
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-family: var(--title-font);
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input__flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.input__flex_row input {
    width: auto;
}

.input-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--color-secondary);
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: var(--title-font);
    font-size: 18px;
}

.error {
    color: red;
    margin-bottom: 15px;
}

.visit {
    margin: 170px 0 100px 0;
}

.visit__list__frame {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 12px 0;
}


@media (min-width: 768px) {
    .login-wrapper, .register-wrapper {
        width: 33%;
    }

    p {
        font-size: 18px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    header {
        height: 90px;
    }

    .header__logo {
        height: 50px;
   }

   .header__links {
        max-width: 1440px;
        padding: 60px;
    }

    .footer__image {
        width: calc(33% - 40px);
        max-width: 422px;
    }

    .footer__container {
        font-size: 16px;
    }
}
